<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>All Students</title>
  <link rel="stylesheet" href="/static/css/styles.css">
  <script src="/static/scripts.js" defer></script>
</head>
<body class="faculty-advisor-page">
  <!-- NAVBAR -->
  <div class="navbar">
    <div class="homeButton">
      <button onclick="location.href='/home'">Home</button>
    </div>
    <button onclick="window.location.href='{{ request.referrer }}'" class="back-button">
      ← Back
    </button>
    <div class="dropdown">
      <button onclick="toggleDropdown()">Account</button>
      <div class="dropdown-content">
        <a href="/editInfo">Edit Personal Info</a>
        <a href="/logout">Logout</a>
      </div>
    </div>
  </div>

  <main class="student-home-container">
    <h1>All Students</h1>

    {% if students %}
      <table class="styled-table">
        <thead>
          <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th>Program</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for student in students %}
          <tr>
            <td>{{ student.uid }}</td>
            <td>{{ student.last_name }}, {{ student.first_name }}</td>
            <td>{{ student.program }}</td>
            <td>
                <a href="{{ url_for('view_gs_transcript', student_id=student['uid']) }}">Update Grades</a>
            </td>
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No students found.</p>
    {% endif %}
  </main>
</body>
</html>
